<settings>
  <email>
    <smtpServer>smtp.gmail.com</smtpServer>
    <username>*****@gmail.com</username>
    <password>****</password>
    <useSSL>true</useSSL>
    <port>587</port>
    <from>*****@gmail.com</from>
  </email>
	<builds>
		<project name="Texo" build="3"/>
	</builds>
  <project
    url="https://github.com/ayende/Texo"
    name="Texo"
    git="C:\Work\Texo"
    ref="refs/heads/master"
    cmd="powershell .\psake.ps1 default.ps1 upload"
    workingDir="C:\Builds\Texo"
    email="ayende@ayende.com" />
</settings>